.top-bar {
  width: 100%;
  height: 30px;
  background-color: #222;
  padding: 4px 0px;
}
.top-bar a {
  color: #fff;
  font-size: .7em;
  margin-right: 10px;
}
.top-bar-menu-left {
  display: inline-block;
  ul {
    padding-left: 0px;
  }
  li {
    display: inline-block;
  }
  li::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: 8px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
  }
  li:last-child:after {
    content: none;
  }
}
.top-bar-menu-right {
  float: right;
  li {
    display: inline-block;
  }
}
.hero {
  padding: 60px 0px;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.navbar-fixed {
  top: 0px;
  position: fixed;
}
.site-logo-link {
  padding-top: 15px;
  margin-right: 20px;
}