.content-blocks {

}
.content-block {
	overflow: hidden;
	padding: 0px;
	height: 400px;
	color: #fff;
	a {
		color: #fff;
	}
	.entry-header {
		position: absolute;
		padding: 20px;
		bottom: 0px;
	}
}