/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_backgrounds.scss */
.bg-overlay-darken {
  width: 100%;
  height: 100%;
  background-color: RGBA(0, 0, 0, 0.5);
}

/* line 1, ../sass/_layout.scss */
.remove-padding {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* line 4, ../sass/_sections.scss */
.content-block {
  overflow: hidden;
  height: 400px;
  color: #fff;
}
/* line 8, ../sass/_sections.scss */
.content-block a {
  color: #fff;
}
/* line 11, ../sass/_sections.scss */
.content-block .entry-header {
  position: absolute;
  padding: 20px;
  bottom: 0px;
}

/* line 1, ../sass/_navigation.scss */
.top-bar {
  width: 100%;
  height: 30px;
  background-color: #222;
  padding: 4px 0px;
}

/* line 7, ../sass/_navigation.scss */
.top-bar a {
  color: #fff;
  font-size: .7em;
  margin-right: 10px;
}

/* line 12, ../sass/_navigation.scss */
.top-bar-menu-left {
  display: inline-block;
}
/* line 14, ../sass/_navigation.scss */
.top-bar-menu-left ul {
  padding-left: 0px;
}
/* line 17, ../sass/_navigation.scss */
.top-bar-menu-left li {
  display: inline-block;
}
/* line 20, ../sass/_navigation.scss */
.top-bar-menu-left li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 8px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
/* line 32, ../sass/_navigation.scss */
.top-bar-menu-left li:last-child:after {
  content: none;
}

/* line 36, ../sass/_navigation.scss */
.top-bar-menu-right {
  float: right;
}
/* line 38, ../sass/_navigation.scss */
.top-bar-menu-right li {
  display: inline-block;
}

/* line 42, ../sass/_navigation.scss */
.hero {
  padding: 60px 0px;
}

/* line 45, ../sass/_navigation.scss */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
}

/* line 50, ../sass/_navigation.scss */
.navbar-fixed {
  top: 0px;
  position: fixed;
}

/* line 54, ../sass/_navigation.scss */
.site-logo-link {
  padding-top: 15px;
  margin-right: 20px;
}

/* line 1, ../sass/_footers.scss */
.site-footer {
  display: block !important;
  background-color: #222;
  color: #fff;
  padding: 30px 0px;
}
/* line 6, ../sass/_footers.scss */
.site-footer a {
  color: #fff;
}

/* line 10, ../sass/_footers.scss */
.site-info {
  padding: 20px 0px;
  text-align: center;
}

/* line 1, ../sass/_sliders.scss */
.full-width-slider {
  color: #fff;
}
/* line 3, ../sass/_sliders.scss */
.full-width-slider .slide .entry-header {
  padding: 120px 0px;
  text-align: center;
}
/* line 7, ../sass/_sliders.scss */
.full-width-slider a {
  color: #fff;
}
/* line 10, ../sass/_sliders.scss */
.full-width-slider .flexslider {
  margin-bottom: 0px;
}

/* line 15, ../sass/_sliders.scss */
.flexslider {
  border: none;
}

/* line 18, ../sass/_sliders.scss */
.flex-direction-nav a {
  color: RGBA(244, 244, 244, 0);
  text-shadow: none;
}

/* line 22, ../sass/_sliders.scss */
.flex-direction-nav a.flex-prev:before,
.flex-direction-nav a.flex-next:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: none;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 20px;
  height: 20px;
  text-shadow: none;
}

/* line 34, ../sass/_sliders.scss */
.flex-control-nav {
  position: absolute;
  bottom: 20px;
  z-index: 100;
}
/* line 38, ../sass/_sliders.scss */
.flex-control-nav li a {
  background-color: transparent !important;
  border: 1px solid #fff;
  box-shadow: none;
}
/* line 43, ../sass/_sliders.scss */
.flex-control-nav li .flex-active {
  background-color: #fff !important;
  box-shadow: none;
}

/* line 1, ../sass/_main.scss */
.site-content {
  margin-top: 66px;
  padding-bottom: 80px;
  background-color: #eee;
}

/* line 6, ../sass/_main.scss */
.content-area {
  background-color: #fff;
}
