/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/_navigation.scss */
.top-bar {
  width: 100%;
  height: 30px;
  background-color: #222;
  padding: 4px 0px;
}

/* line 7, ../sass/_navigation.scss */
.top-bar a {
  color: #fff;
  font-size: .7em;
  margin-right: 10px;
}

/* line 12, ../sass/_navigation.scss */
.top-bar-menu-left {
  display: inline-block;
}
/* line 14, ../sass/_navigation.scss */
.top-bar-menu-left ul {
  padding-left: 0px;
}
/* line 17, ../sass/_navigation.scss */
.top-bar-menu-left li {
  display: inline-block;
}
/* line 20, ../sass/_navigation.scss */
.top-bar-menu-left li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 8px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
/* line 32, ../sass/_navigation.scss */
.top-bar-menu-left li:last-child:after {
  content: none;
}

/* line 36, ../sass/_navigation.scss */
.top-bar-menu-right {
  float: right;
}
/* line 38, ../sass/_navigation.scss */
.top-bar-menu-right li {
  display: inline-block;
}

/* line 42, ../sass/_navigation.scss */
.hero {
  padding: 60px 0px;
}

/* line 45, ../sass/_navigation.scss */
.navbar {
  position: absolute;
  width: 100%;
}

/* line 49, ../sass/_navigation.scss */
.navbar-fixed {
  top: 0px;
  position: fixed;
  z-index: 100;
}

/* line 1, ../sass/_main.scss */
.site-content {
  margin-top: 66px;
}
